:root {
  --white: #fff;
  --black: #000;
  --brown-light: #257;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: monospace, sans-serif;
}
a {
  color: var(--brown-light);
  text-decoration: none;
}
button,
input {
  outline: none;
}
main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
section {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.commit-content {
  width: 500px;
  border-radius: 5px;
  border: 1px solid var(--brown-light);
  overflow: hidden;
}
.commit-title {
  width: 100%;
  background-color: var(--brown-light);
  color: var(--white);
  text-align: center;
}
.commit-text {
  width: 100%;
  color: var(--brown-light);
}
